.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../../img/bg_3.jpg) center (center/cover) no-repeat;

    &_descr {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 20px;
    }
}